
.Safety {
    width: 100%;
    height: 2000px;
    display: block;
    padding-top: 50px;
    background-image: linear-gradient(to top,#4f5e8e,white);
}

.safeT {
    margin-left: 20px;
    font-size: large;
    color: #4F5E8E;
    margin-bottom: 50px;
    text-align: left;
  }

.safeN {
    margin-left: 20px;
    color: #4F5E8E;
    text-align: left;
    margin-bottom: 50px;
    line-height: 50px;
  }

.yout {
 width: 100%;
 height: 250px;
 }

.Policy {
  width: 100%;
  height: 2000px;
  display: block;
  padding-top: 50px;
  background-image: linear-gradient(to top,#4f5e8e,white);
}

.polT {
  margin-left: 20px;
  font-size: large;
  color: #000000;
  margin-bottom: 50px;
  text-align: left;
}

.polN {
  margin-left: 20px;
  color: #000000;
  text-align: left;
  margin-bottom: 50px;
  line-height: 50px;
}